#fee_form {
  input,
  .ant-input-affix-wrapper,
  .ant-input-affix-wrapper-focused {
    font-size: 26px;
    font-family: dm-mono, sans-serif;
    text-align: right;
    border: none;
    box-shadow: none;
    &.ant-input:focus,
    .ant-input-focused,
    &.ant-input:hover {
      border: none;
      box-shadow: none;
    }
  }
  .fee-relative-container {
    height: 42px;
  }
  .fee-relative-btn-container {
    margin-left: 42px;
    button {
      background: transparent;
      height: 20px;
      padding: 7px;
    }
  }
  .confirm-btn-container {
    text-align: end;
  }
  .anticon {
    color: #8D8D8D;
  }
}
