form#withdraw_market_form {
  .balance-input-container {
    margin: 0;
    input.ant-input,
    input.ant-input:hover,
    input.ant-input:focus {
      text-align: end;
      line-height: 1;
      font-size: 30px;
      border: none;
      box-shadow: none;
    }
  }
  input#withdraw_market_form_address {
    height: 64px;
    text-align: center;
    background: @grey-light;
  }
  .base-amount-container {
    margin-bottom: 2px;
  }
  .submit-btn-container {
    text-align: center;
  }
}
