#fee_form {
  .unlocked {
    input:hover, input:focus {
      &.ant-input:not(#fee_form_feeRelativeInput) {
        background-color: fade(#FFFFFF, 20%);
      }
    }

    .ant-input-affix-wrapper:hover {
      background-color: fade(#FFFFFF, 20%);
    }
  }

  input,
  .ant-input-affix-wrapper,
  .ant-input-affix-wrapper-focused {
    padding: 2px;
    font-size: 24px;
    font-family: dm-mono, sans-serif;
    text-align: right;
    border: none;
    box-shadow: none;

    &.ant-input:focus,
    .ant-input-focused,
    &.ant-input:hover {
      border: none;
      box-shadow: none;
    }

    &.ant-input:disabled, &.ant-input-affix-wrapper-disabled {
      background-color: transparent;
    }
  }

  .fee-relative-container {
    height: 42px;
  }

  .fee-relative-btn-container {
    margin-left: 42px;

    button {
      height: 20px;
      padding: 7px;

      &:disabled {
        color: fade(@primary-color, 25%);
        background: fade(@primary-color, 5%);
      }
    }
  }

  .confirm-btn-container {
    margin-top: 10px;
    text-align: end;
  }

  .lock-btn {
    background: @btn-default-bg;
    width: 32px;
    height: 32px;
  }
}
