// If we need a Button instead of a Link in breadcrumb
.ant-breadcrumb-link > button.ant-btn {
  color: @white;
  padding: 0;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s;
    box-shadow: none;
  }
}
