@import '~antd-css-utilities/utility.min.css';
@import 'button.less';
@import 'fonts.less';
@import 'typography.less';

.error {
  font-size: 0.8rem;
  color: red;
  margin-bottom: 4px;
}

.has-error {
  margin: 0;
}
