.input {
  .ant-form-item-control-input {
    background-color: @grey-dark;
    border-radius: 8px;
    height: 46px;
    .ant-form-item-control-input-content {
      height: 100%;
      .ant-input-affix-wrapper,
      .ant-input {
        height: 100%;
      }
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input__medium {
  height: 46px;
  text-align: center;
  background-color: @grey-dark !important;
}

.input__big {
  height: 64px;
  text-align: center;
  background-color: @grey-dark !important;
}

.balance-input-container {
  margin: 0;
  input.ant-input,
  input.ant-input:hover,
  input.ant-input:focus {
    text-align: end;
    line-height: 1;
    font-size: 30px;
    border: none;
    box-shadow: none;
  }
}

.ant-input-group-addon {
  border: none !important;
  background: transparent !important;
}