.ant-select {
  width: 100%;
  .ant-select-selector {
    align-items: center;
    font-size: 18px;
    height: 64px !important;
    .ant-select-selection-item {
      display: flex;
      align-items: flex-end;
      .currency-icon svg {
        width: 36px;
        height: 36px;
      }
      .select-option-text {
        display: inline-flex;
        flex-direction: column;
        margin-left: 8px;
        line-height: 1.5;
        span:nth-child(2) {
          font-size: 12px;
          margin: 0
        }
      }
    }
  }
}

.ant-select-dropdown {
  .rc-virtual-list-holder {
    .ant-select-item-option-content {
      font-size: 18px;
      margin: 15px 0;
      .select-option-text {
        display: inline-flex;
        flex-direction: column;
        margin-left: 8px;
        line-height: 1.5;
        span:nth-child(2) {
          font-size: 12px;
          margin: 0
        }
      }
    }
  }
}
