.ant-typography.title-grey {
  font-size: 14px;
  font-family: dm-sans, serif;
  font-weight: bold;
  color: #666666;
}

.white-value {
  font-family: dm-mono, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  &__small {
    font-size: 14px;
    line-height: 14px;
  }
  &__medium {
    font-size: 18px;
    line-height: 18px;
  }
  &__big {
    font-size: 36px;
    line-height: 36px;
  }
}

p {
  font-family: dm-mono, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 18px;
}

.address {
  font-family: dm-mono, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  word-break: break-all;
}
