.dm-mono,
.ant-typography.dm-mono {
  font-family: dm-mono, sans-serif;
  font-weight: 400;
  color: #ffffff;
  &__bold {
    font-weight: 500;
  }
  // https://modern-fluid-typography.vercel.app/
  &__xs {
    // min size: 10, max size: 12
    font-size: clamp(0.625rem, 1vw + 0.4rem, 0.75rem) !important;
  }
  &__x {
    // min size: 12, max size: 14
    font-size: clamp(0.75rem, 1vw + 0.5rem, 0.875rem) !important;
  }
  &__xx {
    // min size: 14, max size: 18
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem) !important;
  }
  &__xxx {
    // min size: 18, max size: 22
    font-size: clamp(1.125rem, 1vw + 0.75rem, 1.375rem) !important;
  }
  &__xxxx {
    // min size: 22, max size: 26
    font-size: clamp(1.375rem, 1vw + 1rem, 1.625rem) !important;
  }
  &__xxxxx {
    // min size: 26, max size: 30
    font-size: clamp(1.625rem, 1vw + 1.25rem, 1.875rem) !important;
  }
  &__xxxxxx {
    // min size: 30, max size: 34
    font-size: clamp(1.875rem, 1vw + 1.5rem, 2.125rem) !important;
  }
}

.dm-sans,
.ant-typography.dm-sans,
.ant-checkbox-wrapper.dm-sans {
  font-family: dm-sans, sans-serif !important;
  font-weight: 400;
  color: #ffffff;
  &__bold {
    font-weight: bold !important;
  }
  &__grey {
    color: @grey-light;
  }
  &__green {
    color: @primary-color;
  }
  // https://modern-fluid-typography.vercel.app/
  &__xs {
    // min size: 10, max size: 12
    font-size: clamp(0.625rem, 1vw + 0.4rem, 0.75rem) !important;
  }
  &__x {
    // min size: 12, max size: 14
    font-size: clamp(0.75rem, 1vw + 0.5rem, 0.875rem) !important;
  }
  &__xx {
    // min size: 14, max size: 18
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem) !important;
  }
  &__xxx {
    // min size: 18, max size: 22
    font-size: clamp(1.125rem, 1vw + 0.75rem, 1.375rem) !important;
  }
  &__xxxx {
    // min size: 22, max size: 26
    font-size: clamp(1.375rem, 1vw + 1rem, 1.625rem) !important;
  }
  &__xxxxx {
    // min size: 26, max size: 30
    font-size: clamp(1.625rem, 1vw + 1.25rem, 1.875rem) !important;
  }
  &__xxxxxx {
    // min size: 30, max size: 34
    font-size: clamp(1.875rem, 1vw + 1.5rem, 2.125rem) !important;
  }
}

p {
  font-family: dm-mono, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
}

.address {
  font-family: dm-mono, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}
