name: Github Pages
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: yarn install --frozen-lockfile
      
      - run: yarn build
        env:
          PUBLIC_URL: https://tdex-network.github.io/tdex-daemon-ui
   
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: build
          #fqdn: dashboard.tdex.network
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
